h3{
    color:#0934aa;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
body{
  font-family:'Courier New', Courier, monospace;
  color: #2956d3;
}

div{
    background-image: url("background.jpg");
    padding: 50px;
    margin: 30px 300px;
    border: 1px solid;
}
a{
    text-decoration:none;
    background-color: #336eeef1;
    color:#041653;
    border: 1px solid #1623d6f1;
    border-radius: 3px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    background-color: #133bbe;
    color:#336eeef1;
}